* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div > a.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 250px;
    height: 50px;
}
.menu-area a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 1s ease;
}
.menu-area a:hover {
    background-color: white;
    color: black;
}
.menu-area ul {
    list-style: none;
    display: flex;
}
.menu-area ul li {
    position: relative;
    width: 100%;
    text-align: center;
}
.menu-area li:hover .dropdown-1 > li {
    top: 0px;
    display: block;
}
.dropdown-1 li {
    display: none;
    position: relative;
}
.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dropdown-1 li:hover .dropdown-2 li {
    display: block;
}
.dropdown-2 li {
    display: none;
}
.dropdown-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
}
input[type=checkbox], .res-menu {
    display: none;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("TOG yasratcha.jpg");
    background-size: cover;
    height: 100vh;
}
.headermaindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.togdiv {
    margin-bottom: 20px;
}
.headermaindiv h1 {
    font-size: 40px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.headermaindiv a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: 1s ease;
}
.headermaindiv a:hover {
    background-color: white;
    color: black;
}
#section1 {
    background-color: #eaffd0;
}
#section1 h2 {
    text-align: center;
    padding: 30px 0px;
}
.welcome {
    display: flex;
    max-width: 90%;
    margin: auto;
    line-height: 25px;
}
.welcome p {
    text-align: justify;
    padding-left: 20px;
}
#section2 {
    background-color: #fce38a;
    height: 90vh;
}
#section2 h2 {
    text-align: center;
    color: black;
    text-shadow: 0px 2px 2px red;
    padding: 20px 0px;
}
.wrapper {
    width: 1170px;
    display: flex;
    height: 70vh;
    margin: 5px auto;
}
.single-img {
    flex: 1;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 500ms cubic-bezier(.14, .69, .93, 1);
}
.single-img:hover {
    flex-basis: 65vw;
}
footer {
    background-color: #95e1d3;
}
footer h3 {
    text-align: center;
    padding: 30px 0px;
}
/*================================Media queries for reponsiveness=================================*/
@media (min-width: 320px) and (max-width: 600px) {
    .logo img {
        max-width: 200px;
    }
    .res-menu {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        cursor: pointer;
        padding: 20px 0px;
        text-transform: uppercase;
    }
    .menu-area ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
    input[type=checkbox]:checked ~ .menu-area ul {
        display: block;
    }
    .menu-area li:hover .dropdown-1 > li {
        top: 0px;
        display: none;
    }
    .headermaindiv h1 {
        font-size: 20px;
    }
    .welcome .imgdiv img {
        max-width: 350px;
    }
    #section2 .wrapper {
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }
    .welcome .imgdiv img {
        max-width: 400px;
    }
    .wrapper {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 998px) {
    .wrapper {
        width: 100%;
    }
}
@media (min-width: 999px) and (max-width: 1150px) {
    .wrapper {
        width: 100%;
    }
}